@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <img width="400px" src="https://api.logo.com/api/v2/images?format=webp&logo=logo_2b6dee2e-e7c4-4e34-a5e8-57a9652f79db&width=1000&background=transparent&fit=contain&u=1670910220" alt="Alternate Text" />
    <p style="padding-top: 40px" class="lead">Website providing services to buy functional food products.</p>
</div>

<p>
    Ancient and modern, accepted and discredited, 5,000 theories from the science,
    linguistics, psychology, sociology, economics, history, art, etc. which have
    relevance in today's world, have been compiled in "Dictionary of theories"- a
    reference book presented by Bothamley (1993). The need for theories lies in the
    human behaviour of wanting to impose order on unordered experiences (Dubin,
    1978). For example, if someone observes an event/s from practice in a real-world
    4
    situation, practise tends to be chaotic and complex. Therefore, the main task of the
    one who observed the event would be to try to create order out of chaos by
    breaking down everything that has been seen into smaller things (Whetten, 1989)
</p>
