@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <img width="400px" src="https://api.logo.com/api/v2/images?format=webp&logo=logo_2b6dee2e-e7c4-4e34-a5e8-57a9652f79db&width=1000&background=transparent&fit=contain&u=1670910220" alt="Alternate Text" />
    <p style="padding-top: 40px" class="lead">Website providing services to buy functional food products.</p>
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    0939840429
</address>

<address>
    <strong>Name:</strong>Nguyen Dinh Quy<br />
    <strong>MSSV:</strong> 520H0675<br />
    <strong>Name:</strong>Nguyen Gia Khiem<br />
    <strong>MSSV:</strong> 520H0464<br />

</address>